[Unit]
Description=air quality dashboards for ITE

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/aqdashboards
ExecStart=/home/ubuntu/Workground/dashalte3venv/bin/python ITE/app.py
Restart=always

[Install]
WantedBy=multi-user.target
